<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            width: 100%;
            height: 150px;
            border: solid 5px red;
            margin: 10px auto;
        }
    </style>
</head>

<body>

        
    
    {{each liuyan b}}
    <div>
            <!-- {{}}中可以直接写表达式，渲染为这个表达式的值 -->
            <p>时间：{{b.timer}}</p>
            <p>您的ip地址：{{b.res2}}</p>
            <p>内容：{{b.text}}</p>
           
        </div>
        {{/each}}
    

    <a href="index.html">返回留言</a>
</body>

</html>