<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {{include "./header.html"}}
    
        <main>
            <h1>帖子列表</h1>
                {{each str1 s}}
                <p>
                <a href="" style="margin-top: 15px">{{s}}</a>
            </p>
            {{/each}}
        </main>
</body>
</html>