<% for(var i = 0;i<qqq.length;i++){%>
    <div class="box">
        <p>标题<%=qqq[i].title%>}</p>
        <p>标签<%=qqq[i].biaoqian%>}</p>
        <p>内容<%=qqq[i].main%>}</p>
        <p>时间<%=qqq[i].time%>}</p>
    </div>
<%}%>