<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{include "./header.html"}}

    <main class="fix-width-center">
        {{if tip}}
        <p style="color: green">{{tip}}</p>
        {{/if}}
        <h1>登录页面</h1>

        <form action="/user/login" method="POST">
            <table>
                <tr>
                    <td>用户名</td>
                    <td><input type="text" required name="username"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="psw" required name="psw"></td>
                </tr>
            </table>
            <button>登录</button>
        </form>
    </main>
</body>
</html>